#header{
  width:100%;
    background-color:blue;
  text-align:center;
  padding:;
  border:;
  font-size:30px;
    margin:0px
}
#top1{
  width:;
    background-color:red;
  text-align:;
  padding:;
  border:;
  font-size:20px;
    margin:
}
#img1{
  width:;
    background-color:pink;
  text-align:;
  padding:;
  border:;
  font-size:;
    margin:
}
#top2{
  width:;
    background-color:cyan;
  text-align:;
  padding:;
  border:;
  font-size:20px;
    margin:
}
#img2{
  width:;
    background-color:silver;
  text-align:;
  padding:;
  border:;
  font-size:;
    margin:
}
#top3{
  width:;
    background-color:green;
  text-align:;
  padding:;
  border:;
  font-size:20px;
    margin:
}
#img3{
  width:;
    background-color:#2b5c31;
  text-align:;
  padding:;
  border:;
  font-size:;
    margin:
}
#top4{
  width:;
    background-color:yellow;
  text-align:;
  padding:;
  border:;
  font-size:20px;
    margin:
}
#img4{
  width:;
    background-color:orange;
  text-align:;
  padding:;
  border:;
  font-size:;
    margin:
}
#top5{
  width:;
    background-color:blue;
  text-align:;
  padding:;
  border:;
  font-size:20px;
    margin:
}
#img5{
  width:;
    background-color:red;
  text-align:;
  padding:;
  border:;
  font-size:;
    margin:
}
#top6{
  width:;
    background-color:pink;
  text-align:;
  padding:;
  border:;
  font-size:20px;
    margin:
}
#img6{
  width:;
    background-color:silver;
  text-align:;
  padding:;
  border:;
  font-size:;
    margin:
}
#top7{
  width:;
    background-color:cyan;
  text-align:;
  padding:;
  border:;
  font-size:20px;
    margin:
}
#img7{
  width:;
    background-color:brown;
  text-align:;
  padding:;
  border:;
  font-size:;
    margin:
}
#top8{
  width:;
    background-color:salmon;
  text-align:;
  padding:;
  border:;
  font-size:20px;
    margin:
}
#img8{
  width:;
    background-color:green;
  text-align:;
  padding:;
  border:;
  font-size:;
    margin:
}
#top9{
  width:;
    background-color:#0b3578;
  text-align:;
  padding:;
  border:;
  font-size:20px;
    margin:
}
#img9{
  width:;
    background-color:#4984e3;
  text-align:;
  padding:;
  border:;
  font-size:;
    margin:
}
#top10{
  width:;
    background-color:#2ac73c;
  text-align:;
  padding:;
  border:;
  font-size:20px;
    margin:
}
#img10{
  width:;
    background-color:#7bed88;
  text-align:;
  padding:;
  border:;
  font-size:;
    margin:
}

